<div class="container">
<div class="form-group">
    <label>Nome</label>
    <input type="text" class="form-control" #nomeInput>
    <label>Endenreco</label>
    <input type="text" class="form-control" #endInput>
    <label>Idade</label>
    <input type="number" class="form-control" #idadeInput>
    <button class="btn btn-primary mt-2" (click)="adicionar(nomeInput.value,endInput.value,idadeInput.value)">Salvar</button>
</div>

<div class="row">
    <div class="col-2">Nome</div>
    <div class="col-4">Endereco</div>
    <div class="col-4">Idade</div>
    <div class="col-2">Acao</div>
  </div>

  <hr>

  <div class="row mt-3" *ngFor="let p of pessoas">
    <div class="col-2">{{p.nome}}</div>
    <div class="col-4">{{p.endereco}}</div>
    <div class="col-4">{{p.idade}}</div>
    <div class="col-2"><button class="btn btn-primary" (click)="deletar(p.id)">excluir</button></div>
  </div>
</div>
